<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="Browser" value="Chrome"/> 
  <parameter name="UserName" value="Admin"/> 
  <parameter name="Password" value="admin123"/> 
  <parameter name="jobtitle" value="Indian669"/> 
  <parameter name="jobdecsr" value="Indiandesc"/> 
  <parameter name="jobnote" value="Indian"/> 
 
    <classes>
      <class name="Day_012_TestNG_Paraneters.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
